<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
	
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Jota Siatemas</title>
	
		<!-- BIBLIOTECA DATATABLE - JQUERY-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />
    

	
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />


    
  
	



</head>



<body>



	<!--FRAGMENTS INDEX-->
	<span th:replace="navbar"></span>



	<div class="container">
		<div class="mx-5 m-0">
			<div class="container mt-5">
				<h1 class=" text aline text-start">Níveis</h1>
				<div class="d-flex align-items-start">
					<div id="v-pills-tab" class="flex-column nav nav-pills me-3" role="tablist"
						aria-orientation="vertical">
						<button id="v-pills-home-tab" class="active nav-link" data-bs-toggle="pill"
							data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
							aria-selected="true">Cadastro</button>
						<button id="v-pills-profile-tab" class="nav-link" data-bs-toggle="pill"
							data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
							aria-selected="false">Consulta</button>
						<button id="v-pills-relatorio-tab" class="nav-link" data-bs-toggle="pill"
							data-bs-target="#v-pills-relatorio" type="button" role="tab"
							aria-controls="v-pills-disabled" aria-selected="false">Relatório</button>
					</div>
					<div id="v-pills-tabContent" class="container-fluid tab-content">
						<div id="v-pills-home" class="tab-pane fade show active" role="tabpanel"
							aria-labelledby="v-pills-home-tab" tabindex="0" style="width: auto;height: auto;">
							<div class="ml-0">
								<h1 class="text">Cadastrar Níveis</h1>
							</div>
							<div class="container">
								<div class="justify-content-center">
									<div>
										<form action="/inserir" method="post">
											<div>
												<div class="form-group">
													<div class="input-group mb-2">
														<div class="input-group-text input-group-prepend">
															<div class="input-group-text"><i
																	class="fas fa-user text-info"></i></div>
														</div>
														<input id="idNivel" class="form-control" type="text"
															name="idNivel" placeholder="Cod" disabled />
													</div>
												</div>
												<div class="form-group">
													<div class="input-group mb-2">
														<div class="input-group-text input-group-prepend">
															<div class="input-group-text"><i
																	class="fas fa-envelope text-info"></i></div>
														</div>
														<input id="nomeNivel" class="form-control" type="text"
															name="nomeNivel" placeholder="Digite o nome do Nivel"
															required />
													</div>
												</div>
												<div class="text-center"><input
														class="btn btn-primary btn-block rounded-2 py-2" type="submit"
														value="Cadastrar" /></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div id="v-pills-profile" class="tab-pane fade" role="tabpanel"
							aria-labelledby="v-pills-disabled-tab" tabindex="0" style="width: auto;">
							<span>
								<div>
									<h1 class="text">Consultar Níveis</h1>
								</div>
								<div>
									<table id="dt-filter-select" class="table" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th class="th-sm">idNivel</th>
												<th class="th-sm">nomeNivel</th>
											</tr>
										</thead>
										<tbody>
											<!-- Iteração sobre a lista de níveis -->
											<tr th:each="nivel : ${userList}">
												<td th:text="${nivel.idNivel}"></td>
												<td th:text="${nivel.nomeNivel}"></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th>idNivel</th>
												<th>nomeNivel</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</span>
						</div>




						<div id="v-pills-relatorio" class="tab-pane fade" role="tabpanel"
							aria-labelledby="v-pills-home-tab" tabindex="0">
							<div class="ml-3">
								<h1 class="text">Relatório</h1>
							</div>




							<div class="container">
								<div class="justify-content-center">
									<div>
										<select id="opcaoConsulta" class="opcaoConsulta form-select form-select-lg mb-3"
											aria-label="Large select example" onchange="bloquearOpcaoOrdem()">
											<option selected>Escolha o Relatório</option>
											<option name="consultarPorTodos" value="1">Todos</option>
											<option name="consultarPorID" value="2">Consultar por Id</option>
											<option value="3">Consultar nome</option>
										</select>
										<select id="opcaoImpressao"
											class="opcaoImpressão form-select form-select-lg mb-3"
											aria-label="Large select example">
											<option selected>Escolha o Tipo de Impressão</option>
											<option value="1">Tela</option>
											<option value="2">PDF</option>
											<option value="3">HTML</option>
										</select>
										<select id="opcaoOrdem" class="opcaoImpressão form-select form-select-lg mb-3"
											aria-label="Large select example">
											<option selected>Escolha Ordem de Impressão</option>
											<option value="1">Por Id</option>
											<option value="2">Por Nome</option>
										</select>
									</div>
									<div>
										<div class="text-center">
											<button class="btn btn-primary btn-block rounded-2 py-2" type="button"
												onclick="gerarRelatorioNivel()">Gerar Relatório</button>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!--MODAL ID nivelRelatorioIdTela -->
	<div class="modal" tabindex="-1" id="nivelRelatorioIdTela" data-idNivel="">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Digite o Id do Nível</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/nivelRelatorioIdTela}" method="post" class="d-flex mt-3" role="search">
						<input name="id" id="idNivelRelatorio" class="form-control me-2" type="search"
							aria-label="Search" placeholder="Informe o Id do Nível">
						<button class="btn btn-success" type="submit">Consultar</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!--MODAL ID nivelRelatorioIdPDF -->
	<div class="modal" tabindex="-1" id="nivelRelatorioIdPDF" data-idNivel="">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Digite o Id do Nível</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/nivelRelatorioIdPDF}" method="post" class="d-flex mt-3" role="search">
						<input name="id" id="idNivelRelatorio" class="form-control me-2" type="search"
							aria-label="Search" placeholder="Informe o Id do Nível">
						<button class="btn btn-success" type="submit">Consultar</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>


	<!--MODAL ID nivelRelatorioIdHTML -->
	<div class="modal" tabindex="-1" id="nivelRelatorioIdHTML" data-idNivel="">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Digite o Id do Nível</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/nivelRelatorioIdHTML}" method="post" class="d-flex mt-3" role="search">
						<input name="id" id="idNivelRelatorio" class="form-control me-2" type="search"
							aria-label="Search" placeholder="Informe o Id do Nível">
						<button class="btn btn-success" type="submit">Consultar</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!--MODAL NOME nivelRelatorioNomeTela -->
	<div class="modal" tabindex="-1" id="nivelRelatorioNomeTela" data-idNivel="">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Digite o Nome do Nível</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/nivelRelatorioNomeTela}" method="post" class="d-flex mt-3" role="search">
						<input name="nomeNivel" id="idNivelRelatorio" class="form-control me-2" type="search"
							aria-label="Search" placeholder="Informe o Nome do Nível">
						<button class="btn btn-success" type="submit">Consultar</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>


	<!--MODAL NOME nivelRelatorioNomePDF -->
	<div class="modal" tabindex="-1" id="nivelRelatorioNomePDF" data-idNivel="">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Digite o Nome do Nível</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/nivelRelatorioNomePDF}" method="post" class="d-flex mt-3" role="search">
						<input name="nomeNivel" id="idNivelRelatorio" class="form-control me-2" type="search"
							aria-label="Search" placeholder="Informe o Nome do Nível">
						<button class="btn btn-success" type="submit">Consultar</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!--MODAL NOME nivelRelatorioNomeHTML -->
	<div class="modal" tabindex="-1" id="nivelRelatorioNomeHTML" data-idNivel="">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Digite o Nome do Nível</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/nivelRelatorioNomeHTML}" method="post" class="d-flex mt-3" role="search">
						<input name="nomeNivel" id="idNivelRelatorio" class="form-control me-2" type="search"
							aria-label="Search" placeholder="Informe o Nome do Nível">
						<button class="btn btn-success" type="submit">Consultar</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- SCRIPT DO ALERT-->
	<script th:inline="javascript">
		var mensagem = /*[[${mensagem}]]*/ "";

		// Verifica se mensagem não é nula ou indefinida antes de chamar trim()
		if (mensagem && mensagem.trim() !== "") {
			alert(mensagem);
			window.location.href = '/atualizarListaNivel';  // Altere conforme necessário
		} 
	</script>


	

	<!-- SCRIPT DO JS -->
	<script src="/js/dataTable.js"></script>
	<script src="/js/dropdown.js"></script>
	<script src="/js/opcaoImpressao.js"></script>
	<script src="/js/modalNivelRelatorioID.js"></script>
	<script src="/js/bloquearOpcaoOrdemImpressao.js"></script>
	
	  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>



</body>

</html>