<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Dashboard - Brand</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
	<link rel="stylesheet" href="assets/css/tableNivel.css?h=027966d3bc0751c63a774a3b2ba9dbd2">
	<link rel="stylesheet" href="assets/css/tituloPaginas.css?h=bc7223d7a49863c67583f3f91f2f0e0f">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body id="page-top" style="text-align: center;">
	
	
	<p th:text="${mensagem}"></p>
	
	
	<div id="wrapper" style="width: 724px;">
		<div>
			<div class="bg-gradient-primary">
				<div>
					<nav class="navbar fixed-top bg-dark navbar-dark">
						<div class="container-fluid">
							<button class="navbar-toggler" data-bs-toggle="offcanvas" type="button"
								data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<a class="navbar-brand" href="#">JotaCRM</a>
							<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
								aria-labelledby="offcanvasDarkNavbarLabel">
								<div class="offcanvas-header">
									<h5 id="offcanvasDarkNavbarLabel" class="offcanvas-title">Menu</h5>
									<button class="btn-light btn-close" type="button" data-bs-dismiss="offcanvas"
										aria-label="Close"></button>
								</div>
								<div class="">
									<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" role="button"
												data-bs-toggle="dropdown" aria-expanded="false">
												Cadastros
											</a>
											<ul class="dropdown-menu dropdown-menu-dark">
												<li><a class="dropdown-item" href="pageCadastroNivel">Níveis</a></li>
												<li><a class="dropdown-item" href="#">TiposEndereços</a></li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">Outros</a></li>
											</ul>
										</li>
									</ul>
								</div>

								<div class="">
									<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" role="button"
												data-bs-toggle="dropdown" aria-expanded="false">
												Dropdown
											</a>
											<ul class="dropdown-menu dropdown-menu-dark">
												<li><a class="dropdown-item" href="#">Action</a></li>
												<li><a class="dropdown-item" href="#">Another action</a></li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">Something else here</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<form class="d-flex mt-3" role="search">
									<input class="form-control me-2" type="search" aria-label="Search"
										placeholder="Digite o Cnpj">
									<button class="btn btn-success" type="submit">Consultar</button>
								</form>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<a class="d-inline border rounded scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
	</div>




	


	
	
	
	<div class="container">
		

		<div class="mx-5 m-0">
			<div class="container mt-5">
		<h1 class=" aline text-start">Níveis</h1>
		


			
			

			<div class="d-flex align-items-start">
				

				<div id="v-pills-tab" class="flex-column nav nav-pills me-3" role="tablist" aria-orientation="vertical">

					<button id="v-pills-home-tab" class="active nav-link" data-bs-toggle="pill"
						data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
						aria-selected="true">Cadastro</button>


					<button id="v-pills-profile-tab" class="nav-link" data-bs-toggle="pill"
						data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
						aria-selected="false">Consulta</button>



					<button id="v-pills-relatorio-tab" class="nav-link" data-bs-toggle="pill"
						data-bs-target="#v-pills-relatorio" type="button" role="tab" aria-controls="v-pills-disabled"
						aria-selected="false">Relatório</button>


				</div>


				<div id="v-pills-tabContent" class="container-fluid tab-content">
					<link id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
						rel="stylesheet" />
					<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />

					<div id="v-pills-home" class="tab-pane fade show active" role="tabpanel"
						aria-labelledby="v-pills-home-tab" tabindex="0" style="width: auto;height: auto;">
						
						
						<div class="ml-0">

							<h1>Cadastrar Níveis</h1>

						</div>
						<div class="container">
							<div class="justify-content-center">
								<div>
									<form action="/inserir" method="post">
										<div>
											<div class="form-group">
												<div class="input-group mb-2">
													<div
														class="input-group-text input-group-text input-group-text input-group-text input-group-prepend">
														<div class="input-group-text"><i
																class="fas fa-user text-info"></i></div>
													</div><input id="idNivel"
														class="form-control form-control form-control form-control form-control"
														type="text" name="idNivel" placeholder="Cod" disabled />
												</div>
											</div>
											<div class="form-group">
												<div class="input-group mb-2">
													<div
														class="input-group-text input-group-text input-group-text input-group-text input-group-prepend">
														<div class="input-group-text"><i
																class="fas fa-envelope text-info"></i></div>
													</div><input id="nomeNivel"
														class="form-control form-control form-control form-control form-control"
														type="text" name="nomeNivel"
														placeholder="DIgite o nome do Nivel" required />
												</div>
											</div>
											<div class="text-center"><input
													class="btn btn-primary btn-block rounded-2 py-2" type="submit"
													value="Cadastrar" /></div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>


					<div id="v-pills-profile" class="tab-pane fade" role="tabpanel"
						aria-labelledby="v-pills-disabled-tab" tabindex="0" style="width: auto;"><span>
							<div>
								<h1>Consultar Nivel</h1>
							</div>
							<table id="dt-filter-select" class="table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th class="th-sm">Position </th>
										<th class="th-sm">Office </th>
										<th class="th-sm">Age </th>
										<th class="th-sm">Start date </th>
										<th class="th-sm">Salary </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>System Architect</td>
										<td>Edinburgh</td>
										<td>61</td>
										<td>2011/04/25</td>
										<td>$320,800</td>
									</tr>
									<tr>
										<td>Accountant</td>
										<td>Tokyo</td>
										<td>63</td>
										<td>2011/07/25</td>
										<td>$170,750</td>
									</tr>
									<tr>
										<td>Junior Technical Author</td>
										<td>San Francisco</td>
										<td>66</td>
										<td>2009/01/12</td>
										<td>$86,000</td>
									</tr>
									<tr>
										<td>Senior Javascript Developer</td>
										<td>Edinburgh</td>
										<td>22</td>
										<td>2012/03/29</td>
										<td>$433,060</td>
									</tr>
									<tr>
										<td>Accountant</td>
										<td>Tokyo</td>
										<td>33</td>
										<td>2008/11/28</td>
										<td>$162,700</td>
									</tr>
									<tr>
										<td>Integration Specialist</td>
										<td>New York</td>
										<td>61</td>
										<td>2012/12/02</td>
										<td>$372,000</td>
									</tr>
									<tr>
										<td>Sales Assistant</td>
										<td>San Francisco</td>
										<td>59</td>
										<td>2012/08/06</td>
										<td>$137,500</td>
									</tr>
									<tr>
										<td>Integration Specialist</td>
										<td>Tokyo</td>
										<td>55</td>
										<td>2010/10/14</td>
										<td>$327,900</td>
									</tr>
									<tr>
										<td>Javascript Developer</td>
										<td>San Francisco</td>
										<td>39</td>
										<td>2009/09/15</td>
										<td>$205,500</td>
									</tr>
									<tr>
										<td>Software Engineer</td>
										<td>Edinburgh</td>
										<td>23</td>
										<td>2008/12/13</td>
										<td>$103,600</td>
									</tr>
									<tr>
										<td>Office Manager</td>
										<td>London</td>
										<td>30</td>
										<td>2008/12/19</td>
										<td>$90,560</td>
									</tr>
									<tr>
										<td>Support Lead</td>
										<td>Edinburgh</td>
										<td>22</td>
										<td>2013/03/03</td>
										<td>$342,000</td>
									</tr>
									<tr>
										<td>Regional Director</td>
										<td>San Francisco</td>
										<td>36</td>
										<td>2008/10/16</td>
										<td>$470,600</td>
									</tr>
									<tr>
										<td>Senior Marketing Designer</td>
										<td>London</td>
										<td>43</td>
										<td>2012/12/18</td>
										<td>$313,500</td>
									</tr>
									<tr>
										<td>Regional Director</td>
										<td>London</td>
										<td>19</td>
										<td>2010/03/17</td>
										<td>$385,750</td>
									</tr>
									<tr>
										<td>Marketing Designer</td>
										<td>London</td>
										<td>66</td>
										<td>2012/11/27</td>
										<td>$198,500</td>
									</tr>
									<tr>
										<td>Chief Financial Officer (CFO)</td>
										<td>New York</td>
										<td>64</td>
										<td>2010/06/09</td>
										<td>$725,000</td>
									</tr>
									<tr>
										<td>Systems Administrator</td>
										<td>New York</td>
										<td>59</td>
										<td>2009/04/10</td>
										<td>$237,500</td>
									</tr>
									<tr>
										<td>Software Engineer</td>
										<td>London</td>
										<td>41</td>
										<td>2012/10/13</td>
										<td>$132,000</td>
									</tr>
									<tr>
										<td>Personnel Lead</td>
										<td>Edinburgh</td>
										<td>35</td>
										<td>2012/09/26</td>
										<td>$217,500</td>
									</tr>
									<tr>
										<td>Development Lead</td>
										<td>New York</td>
										<td>30</td>
										<td>2011/09/03</td>
										<td>$345,000</td>
									</tr>
									<tr>
										<td>Chief Marketing Officer (CMO)</td>
										<td>New York</td>
										<td>40</td>
										<td>2009/06/25</td>
										<td>$675,000</td>
									</tr>
									<tr>
										<td>Pre-Sales Support</td>
										<td>New York</td>
										<td>21</td>
										<td>2011/12/12</td>
										<td>$106,450</td>
									</tr>
									<tr>
										<td>Sales Assistant</td>
										<td>Sidney</td>
										<td>23</td>
										<td>2010/09/20</td>
										<td>$85,600</td>
									</tr>
									<tr>
										<td>Chief Executive Officer (CEO)</td>
										<td>London</td>
										<td>47</td>
										<td>2009/10/09</td>
										<td>$1,200,000</td>
									</tr>
									<tr>
										<td>Developer</td>
										<td>Edinburgh</td>
										<td>42</td>
										<td>2010/12/22</td>
										<td>$92,575</td>
									</tr>
									<tr>
										<td>Regional Director</td>
										<td>Singapore</td>
										<td>28</td>
										<td>2010/11/14</td>
										<td>$357,650</td>
									</tr>
									<tr>
										<td>Software Engineer</td>
										<td>San Francisco</td>
										<td>28</td>
										<td>2011/06/07</td>
										<td>$206,850</td>
									</tr>
									<tr>
										<td>Chief Operating Officer (COO)</td>
										<td>San Francisco</td>
										<td>48</td>
										<td>2010/03/11</td>
										<td>$850,000</td>
									</tr>
									<tr>
										<td>Regional Marketing</td>
										<td>Tokyo</td>
										<td>20</td>
										<td>2011/08/14</td>
										<td>$163,000</td>
									</tr>
									<tr>
										<td>Integration Specialist</td>
										<td>Sidney</td>
										<td>37</td>
										<td>2011/06/02</td>
										<td>$95,400</td>
									</tr>
									<tr>
										<td>Developer</td>
										<td>London</td>
										<td>53</td>
										<td>2009/10/22</td>
										<td>$114,500</td>
									</tr>
									<tr>
										<td>Technical Author</td>
										<td>London</td>
										<td>27</td>
										<td>2011/05/07</td>
										<td>$145,000</td>
									</tr>
									<tr>
										<td>Team Leader</td>
										<td>San Francisco</td>
										<td>22</td>
										<td>2008/10/26</td>
										<td>$235,500</td>
									</tr>
									<tr>
										<td>Post-Sales support</td>
										<td>Edinburgh</td>
										<td>46</td>
										<td>2011/03/09</td>
										<td>$324,050</td>
									</tr>
									<tr>
										<td>Marketing Designer</td>
										<td>San Francisco</td>
										<td>47</td>
										<td>2009/12/09</td>
										<td>$85,675</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>Position </th>
										<th>Office </th>
										<th>Age </th>
										<th>Start date </th>
										<th>Salary </th>
									</tr>
								</tfoot>
							</table>
						</span></div>
					<div id="v-pills-relatorio" class="tab-pane fade" role="tabpanel" aria-labelledby="v-pills-home-tab"
						tabindex="0">
						<div class="ml-3">
							<h1>Relatório</h1>
						</div>
						<div class="container">
							<div class="justify-content-center">
								<div>
									<select id="opcaoConsulta" class="opcaoConsulta form-select form-select-lg mb-3"
										aria-label="Large select example">
										<option selected>Escolha o Relatório</option>
										<option value="1">Todos</option>
										<option value="2">Consultar por Id</option>
										<option value="3">Consultar nome</option>
									</select>

									<select id="opcaoImpressão" class="opcaoImpressão form-select form-select-lg mb-3"
										aria-label="Large select example">
										<option selected>Escolha a opção de Impressão</option>
										<option value="1">Tela</option>
										<option value="2">PDF</option>
										<option value="3">HTML</option>
									</select>
								</div>

								<div>
									<div class="text-center">
										<form th:action="@{/gerarRelatorio}" th:method="post">
											<input type="hidden" id="opcaoConsultaHidden" th:value="${opcaoConsulta}" />
											<input type="hidden" id="opcaoImpressaoHidden"
												th:value="${opcaoImpressao}" />
											<button class="btn btn-primary btn-block rounded-2 py-2" type="submit">Gerar
												Relatório</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>







	</div>











	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Inicialização do dropdown
			var dropdownTrigger = new bootstrap.Dropdown(document.querySelector('.dropdown-toggle'));
		});
	</script>
	
	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous">
	</script>
	
		
	<script th:inline="javascript">
       
        var mensagem =/*[[${mensagem}]]*/"";
        if (mensagem.trim() != '') {
            alert(mensagem);
            window.location.href = '/pageCadastroNivel';
            
        }
     
    </script>



</body>

</html>