body {
	background-color: #fff;
	color: #000;
	font-family: Arial, sans-serif;
}


.btnConfiguracao{
	  background-color: rgb(255, 255, 255);
	  
}


.Fundonavbar{
	
	height: 100%
	
}

.borda{
	border-color: #fff;
}

.margem{
	margin-top: 7%;
}