body {
	background-color: #fff;
	color: #000;
	font-family: Arial, sans-serif;
}

.fundoMenuHear{
	 background-color: rgb(242, 242, 242);	 
}



.Fundonavbar{
	
	height: 100%
	
}

.borda{
	border-color: #fff;
}

.margem{
	margin-top: 7%;
}

.fundo{
	background-color: rgb(242, 242, 242);		
}