body {
	background-color: #fff;
	color: #000;
	font-family: Arial, sans-serif;
}

.fundo{
	 background-color: #fff;
	 
}

.btnConfiguracao{
	  background-color: rgb(255, 255, 255);
	  
}


.Fundonavbar{
	
	height: 100%
	
}

.borda{
	border-color: #fff;
}